:root {
  --link: #2424AA;
  --anthrazit: #081430;
  --neon-pink: #fe01b8;
  --neon-yellow: #ffed03;
}

body {
  font-family: 'Abel', sans-serif;
  background-color: lightgray;
  margin: 0;
}

/* general */

a.download {
  text-decoration:none;
  color: var(--link);
}

a.download:hover {
  text-decoration: underline;
}

/* single episode */

h2 {
  margin: 0;
}

h2#allEpisodes {
  position: absolute;
  top: 30px;
}

h2#episodeTitle {
  position: relative;
  top: 12px;
}

div#header {
  background-color: white;
  height: 116px;
  padding-top: 12px;
  position: relative;
  margin-bottom: -22px;
}

div#title {
  background-color: white;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div#serendipityworks {
  position: absolute;
  top: -16px;
  left: 320px;
  color: lightgrey;
  font-size: 36pt;
}

div#episodeDate {
  color: var(--anthrazit);
  position: relative;
  top: 12px;
}

div#gradient {
  background-image: linear-gradient(to right, var(--neon-pink), var(--neon-yellow));
  height: 16px;
  top: 20px;
  position: absolute;
  width: 100%;
  top: 82px;
}

div#platformlinks {
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  top: -2px;
  left: 10px;
}

div#platformlinks i {
  color: var(--anthrazit);
  padding-right: 5px;
}

div#navigation {
  background-color: white;
  border-radius: 20px;
  width: 984px; /* 1024px (width of div#body) - 2 * 8px (border-spacing of div#body) - 2 * 12px (padding) */
  height: 85px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div#navigation div {
  overflow: hidden;
  height: 60px;
  float: left;
  padding: 10px;
}

span.pncaption {
  color: gray;
}

span.pntitle {
  font-weight: bold;
  color: black;
}

span.pnpubdate {
  color: black;
}

div#leftOfPrevious {
  width: 290px;
}

div#previous {
  border-right: solid 1px lightgray;
  width: 140px;
}

div#previous a {
  text-decoration: none;
}

div#toHome {
  text-align: center;
  font-size: 14pt;
  margin-top: 12px;
  width: 80px;
}

div#toHome a {
  color: var(--link);
  text-decoration: none;
}

div#toHome a:hover {
  text-decoration: underline;
}

div#next {
  border-left: solid 1px lightgray;
  width: 140px;
}

div#next a {
  text-decoration: none;
}

div#body {
  width: 1024px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 8px;
}

div#contents {
  display: table-row;
}

div#left {
  display: table-cell;
  background-color: white;
  border-radius: 20px;
  width: 640px;
  height: 480px;
  margin-right: 8px;
  vertical-align: middle;
  text-align: center;
}

div#left iframe {
  border: none;
  border-radius: 12px;
}

div.deactivated {
  vertical-align: middle;
  text-align: center;
  color: gray;
}

div#right {
  display: table-cell;
}

div#audio {
  background-color: white;
  height: 80px;
  padding: 12px;
  border-radius: 20px;
}

audio#single {
  width: 340px;
  border-radius: 20px;
  height: 40px;
}

div#description {
  background-color: white;
  border-radius: 20px;
  height: 344px;
  padding: 12px;
  margin-top: 8px;
}

div.comments {
  background-color: white;
  width:984px; /* 1024px (width of div#body) - 2 * 8px (border-spacing of div#body) - 2 * 12px (padding) */
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 12px;
}

/* schnack comments */

div.schnack-comment-inner {
  min-height: 60px;
  max-width: 480px;
  border-top: 1px solid var(--neon-pink);
}

ul.schnack-comments {
  list-style-type: none;
}

li.schnack-comment {
  clear: both;
}

div.comments div.schnack-settings {
    font-size: 8pt;
    text-align: right;
}

div.schnack-form br {
  display: none;
}

button.schnack-action {
  border: none;
  background-color: var(--neon-pink);
  display: inline-block;
  border-radius: 12px;
  color: white;
}

div.schnack-login-status {
  margin: 0 12px;
}

div.schnack-above {
  margin: 0 12px;
  max-width: 640px;
}

div.schnack-settings {
  margin: 0 12px;
}

button.schnack-send-comment {
  padding: 4px;
  border-radius: 16px;
  border: 1px solid var(--neon-pink);
  color: var(--neon-pink);
  width: 90px;
  background-color: white;
}
button.schnack-send-comment:hover {
  background-color: var(--neon-pink);
  color: white;
}

button.schnack-preview {
  border: none;
  background-color: inherit;
  color: ;
}

button.schnack-preview:hover {
  text-decoration: underline;
}

button.schnack-cancel-reply {
  border: none;
  background-color: inherit;
  color: var(--links);
}

button.schnack-cancel-reply:hover {
  text-decoration: underline;
}

button.schnack-write {
  border: none;
  background-color: inherit;
  color: var(--link);
}

button.schnack-write:hover {
  text-decoration: underline;
}

button.schnack-reply {
  border: none;
  float: right;
  color: var(--link);
  font-size: 8pt;
  background-color: inherit;
  cursor: pointer;
}

button.schnack-reply:hover {
  text-decoration: underline;
}

button.schnack-reply::after {
  content: ' ';
}

div.schnack-dateline {
  color: gray;
  font-weight: bold;
  text-align: right;
  float: right;
}

span.schnack-date a {
  font-size: 8pt;
  text-decoration: none;
  color: inherit;
}
span.schnack-date a:hover {
  text-decoration: underline;
}

blockquote.schnack-body {
  background-color: inherit;
  border-style: none;
  margin: -10px 0px 0px 0px;
  min-width: 42px;
}

textarea.schnack-body {
  margin: 12px 0px;
  padding: 8px;
  width: 95%;
  border: 1px solid gray;
  border-radius: 8px;
}

div.schnack-signin {
  margin: 0 12px;
}

button.schnack-signin {
  background-color: inherit;
  border-style: none;
  padding: 2px;
}

button.schnack-signin:hover {
  color: var(--link)
}

a.schnack-signout {
  text-decoration: none;
}

a.schnack-signout:hover {
  text-decoration: underline;
}

/* episode list */

audio.list {
  width: 616px;
  border-radius: 20px;
  height: 40px;
  margin-top: 12px;
}

div#searchparameters {
  background-color: white;
  border-radius: 10px;
  padding: 12px 12px 12px 12px;
  text-align: center;
  margin-top: 10px;
}

div#content {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  position: relative;
  top: 10px;
  height: 20px;
  cursor: pointer;
}

h3 a {
  color: black;
  text-decoration: none;
}

span.pubdate {
  position: relative;
  top: -26px;
  width: 100px;
  float: right;
  color: var(--anthrazit);
  text-align: right;
}

div.episode {
  background-color: white;
  border-radius: 10px;
  padding: 0px 12px 12px 12px;
  margin-top: -10px;
}

div.belowTitle {
  position: relative;
  width: 640px;
  height: 16px;
  background-image: linear-gradient(to right, var(--neon-pink), var(--neon-yellow));
  left: -12px;
}

div.duration {
  font-size: 10pt;
  color: #1f1430;
  margin-left: 12px;
  margin-top: 8px;
  float: left;
}

div.belowDescription {
  position: relative;
  width: 640px;
  height: 1px;
  background-image: linear-gradient(to right, var(--neon-pink), var(--neon-yellow));
  left: -12px;
}

div.description {
  margin: 12px;
}

div.footer {
  height: 22px;
}

span.download {
  margin-top: 6px;
  float: right;
  font-size: 10pt;
}

/* upload form */

form div {
  margin-top: 15px;
}

input#title {
  width: 400px;
}

input#duration {
  width: 400px;
}

textarea#description {
  width: 400px;
}

div#submit {
  text-align: right;
}
progress#progressBar {
  width: 400px;
}
