:root {
  --link: #2424AA;
  --anthrazit: #081430;
  --neon-pink: #fe01b8;
  --neon-yellow: #ffed03;
}

body {
  font-family: 'Abel', sans-serif;
  background-color: lightgray;
  margin: 0;
}

/* general */

a.download {
  text-decoration:none;
  color: var(--link);
}

a.download:hover {
  text-decoration: underline;
}

/* single episode */

h2 {
  margin: 0;
}

a#toHome {
  font-size: 12pt;
  color: var(--anthrazit);
  text-decoration: none;
}

a#toHome:hover {
  color: black;
}

div#header {
  background-color: white;
  height: 92px;
  padding-top: 24px;
  min-width: 1024px;
  position: relative;
}

div#title {
  background-color: white;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div#serendipityworks {
  position: absolute;
  top: -25px;
  left: 230px;
  color: lightgrey;
  font-size: 54pt;
}

span#episodeDate {
  width: 100px;
  float: right;
  color: var(--anthrazit);
  text-align: right;
  position: relative;
  top: -20px;
}

div#gradient {
  background-image: linear-gradient(to right, var(--neon-pink), var(--neon-yellow));
  height: 16px;
  margin-top: 8px;
}

div#body {
  width: 1024px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 8px;
}

div#contents {
  display: table-row;
}

div#left {
  display: table-cell;
  background-color: white;
  border-radius: 20px;
  width: 640px;
  height: 480px;
  margin-right: 8px;
  vertical-align: middle;
  text-align: center;
}

span#noVideoUrl {
  color: gray;
}

div#right {
  display: table-cell;
}

div#audio {
  background-color: white;
  height: 80px;
  padding: 12px;
  border-radius: 20px;
}

audio#single {
  width: 340px;
  border-radius: 20px;
  height: 40px;
}

div#description {
  background-color: white;
  border-radius: 20px;
  height: 344px;
  padding: 12px;
  margin-top: 8px;
}

div.comments {
  background-color: white;
  width:992px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 12px;
}

/* schnack comments */


div.schnack-comment-inner {
  background-color: gray;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

div.comments div.schnack-settings {
    font-size: 8pt;
    text-align: right;
}

div.schnack-form br {
  display: none;
}

button.schnack-action {
  border: none;
  background-color: inherit;
  display: inline-block;
}

button.schnack-action:hover {
  text-decoration: underline;
}

button.schnack-send-comment {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
}
button.schnack-send-comment:hover {
  background-color: gray;
}

button.schnack-preview {
  border: none;
  background-color: inherit;
  color: ;
}

button.schnack-preview:hover {
  text-decoration: underline;
}

button.schnack-cancel-reply {
  border: none;
  background-color: inherit;
  color: var(--links);
}

button.schnack-cancel-reply:hover {
  text-decoration: underline;
}

button.schnack-write {
  border: none;
  background-color: inherit;
  color: var(--link);
}

button.schnack-write:hover {
  text-decoration: underline;
}

button.schnack-reply {
  border: none;
  background-color: gray;
  float: right;
  color: var(--link);
}
button.schnack-reply:hover {
  text-decoration: underline;
}

div.schnack-dateline {
  font-weight: bold;
  padding: 4px;
  text-align: right;
}

span.schnack-date a {
  font-size: 8pt;
  text-decoration: none;
  color: inherit;
}
span.schnack-date a:hover {
  text-decoration: underline;
}

blockquote.schnack-body {
  background-color: inherit;
  padding: 5px;
  border-style: none;
  margin: -10px 0px 0px 0px;
}

textarea.schnack-body {
  margin: 12px 0px;
  padding: 8px;
  width: 95%;
  border: 1px solid gray;
  border-radius: 8px;
}

button.schnack-signin {
  background-color: inherit;
  border-style: none;
  padding: 2px;
}

button.schnack-signin:hover {
  color: var(--link)
}


/* episode list */

audio.list {
  width: 616px;
  border-radius: 20px;
  height: 40px;
  margin-top: 12px;
}

div#searchparameters {
  background-color: white;
  border-radius: 10px;
  padding: 12px 12px 12px 12px;
  text-align: center;
  margin-top: 10px;
}

div#content {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  position: relative;
  top: 10px;
  height: 20px;
  cursor: pointer;
}

h3 a {
  color: black;
  text-decoration: none;
}

span.pubdate {
  position: relative;
  top: -26px;
  width: 100px;
  float: right;
  color: var(--anthrazit);
  text-align: right;
}

div.episode {
  background-color: white;
  border-radius: 10px;
  padding: 0px 12px 12px 12px;
  margin-top: -10px;
}

div.belowTitle {
  position: relative;
  width: 640px;
  height: 16px;
  background-image: linear-gradient(to right, var(--neon-pink), var(--neon-yellow));
  left: -12px;
}

div.duration {
  font-size: 10pt;
  color: #1f1430;
  margin-left: 12px;
  margin-top: 8px;
  float: left;
}

div.belowDescription {
  position: relative;
  width: 640px;
  height: 1px;
  background-image: linear-gradient(to right, var(--neon-pink), var(--neon-yellow));
  left: -12px;
}

div.description {
  margin: 12px;
}

div.footer {
  height: 22px;
}

span.download {
  margin-top: 6px;
  float: right;
  font-size: 10pt;
}

/* upload form */

form div {
  margin-top: 15px;
}

input#title {
  width: 400px;
}

input#duration {
  width: 400px;
}

textarea#description {
  width: 400px;
}

div#submit {
  text-align: right;
}
progress#progressBar {
  width: 400px;
}
